@*@model KP_2017_itog.ViewModels.CommentViewModel

@Html.HiddenFor(model => model.restarant.Restaurant_ID)
    <h2>Новый коментарий</h2><br>
    <textarea id="CommentText" rows="5" class="form-control"></textarea><br>
    <button class="btn btn-primary" id="button" restaurantId="@Model.restarant.Restaurant_ID" @*userId="@Model.Visitor_ID">Добавить</button>

@section scripts
{
    <script type="text/javascript">

    var button = document.getElementById('button');
    button.addEventListener('click', function () {
        var CommentText = document.getElementById('CommentText').value.replace(/<[^>]+>/g, '');
        var restaurantId = document.getElementById('button').getAttribute('restaurantId');
        //var userId = document.getElementById('button').getAttribute('userId');
        console.log(restaurantId);
        //console.log(userId);
        if (CommentText === '') {
            return false;
        }
        AddComment(restaurantId, CommentText/*, userId*/);
    });

        function AddComment(Visitor_Comment_ID, CommentText/*, Visitor_Comment_ID*/) {

        $.ajax({
            type: "POST",
            url: "/Comment/AddComment",
            data: { model: CommentText, restaurantId: Visitor_Comment_ID/*, userId: Visitor_Comment_ID*/ },
            success: function (data) {
                location.reload();
            }
        })
    }
    </script>
}*@
