@model KP_2017_itog.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Регистрация";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Регистрация</h2>
            </div>

            <div class="panel-body">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(false)
                    <div class="form-group">
                        <label>Имя</label>
                        <div>
                            <input type="text" class="form-control" name="Visitor_Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Категория</label><br />
                        <select class="selectpicker" name="Visitor_Category_ID">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Visitor_Category_ID">@category.Visitor_Category_Description</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <div>
                            <input type="password" class="form-control" name="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Повторите пароль</label>
                        <div>
                            <input type="password" class="form-control" name="ConfirmPassword" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <input type="submit" class="btn btn-primary btn-block" value="Зарегистрировать" />
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>


</div>