@{
    ViewBag.Title = "Ресторанный гид";
}

<div class="jumbotron">
    <h1>Ресторанный гид</h1>
    <p class="lead">Не знаете куда пойти? Впервые в новом городе? Мы вам с радостью поможем найти кухню по вашему вкусу.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Зарегистрируйтесь</h2>
        <p>
            Создайте свой аккаунт, и вы сможете поделиться своими впечатлениями с другими пользователями.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Подберите ресторан по душе!</h2>
        <p>Мы поможем подобрать ресторан даже самым требовательным клиентам</p>
    </div>
    <div class="col-md-4">
        <h2>Приятного аппетита!</h2>
    </div>
</div>